:root {
    --background: #393d44;
    --foreground: #fff;
    --black: #000;
    --square: #06a6d6;
    --hover: #deb009;
    --container: #0e2082;
}
* {
    font-size: 16px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
    /* display: flex; */
    /* flex-flow: column; */
    background-color: var(--background);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.app{
    display: flex;
    flex-flow: column;
    padding: 0 5%;
}

.container {
    background-color: var(--foreground);
    padding: 0;
    margin: 0;
    border-radius: 12px;
    display: flex;
    flex-flow: wrap;
    flex: 1;
    margin: 5em;
    padding: 1em;
    /* gap: 2px; */
}

.gridSquare {
    background-color: var(--foreground);
    width: 60px;
    height: 60px;
    border: var(--black) 1px solid;
}

.active {
    background-color: var(--hover);
}

button {
    width: max-content;
    margin: 10px;
    color: var(--black);
    display: inline-block;
    text-decoration: none;
    background-color: var(--foreground);
    padding: 12px;
    border-radius: 8px;
    border: 2px solid var(--black);
    transition: .25s;
}

button:hover{
    color: var(--foreground);
    background-color: var(--black);
    border: 2px solid var(--foreground);
}
